.Projects {
  color: white;
}

.Proj {
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 25px;
}

.Projects a{
  text-decoration:none;
  color: white;
}
.Expand a{
  text-decoration:underline;
  color: white;
}
.Proj h3{
  font-family: 'Patrick Hand SC', cursive;
  font-size: 35px;
}

@media screen and (max-width: 750px) {
  .Proj {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 25px;
  }
}
