.ContactMe{
  color: white;
}

p{
  color:white;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
  text-decoration: none;
}

.Nav{
  color:white;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
}
